<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="post">

              <div class="form-group">
                <label for="nameTextField">Friend</label>
                <input type="text" class="form-control"
                id="nameTextField"
                placeholder="Josh Smith"
                name="name" required>
              </div> 

              <div class="form-group">
                <label for="authorTextField">Username</label>
                <input type="text" class="form-control"
                id="userNameTextField"
                placeholder="jsmith420"
                name="userName" required>
              </div> 

              <div class="form-group">
                <label for="descTextField">Description</label>
                <textarea type="text" class="form-control"
                id="descTextField"
                placeholder="How did you meet?"
                name="description" required></textarea>
              </div> 
              

              <div class="form-group">
                <label for="publishedTextField">Email</label>
                <input type="email" class="form-control"
                id="emailTextField"
                placeholder="jsmith420@webnscript.com"
                name="email" required>
              </div> 

              <div class="form-group">
                <label for="priceTextField">Number</label>
                <input type="number" class="form-control"
                id="numberTextField"
                placeholder="(012)345-6789"
                name="number" required>
              </div> 
              <br>
              <button class="btn-btn-primary" type="submit">
                <i class="fas fa-edit"></i>Submit</button>

              <a href="/friend-list" class="btn btn-warning">
                <i class="fas fa-undo"></i>Cancel</a>
            </form>
        </div>
    </div>
</div>

<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs')%>